{% extends '/back/base.html.twig' %}
{%block head %}
    <title>MyFirstBlog | Listes de Commentaires</title>
{% endblock %}
{% block titleJumboTron %}
    Tous les Commentaires
{% endblock %}
{%block content %}

{% enblock %}