<div class="containerfluid containerFooter">
    <hr>
    <div class="col-md-12 footer">
        <ul class="list-inline">
            <li class="list-inline-item socialIcon"><a href="#"><i class="fas fa-home fa-lg"></i> Accueil</a></li>
            <li class="list-inline-item socialIcon"><a href="#"><i class="fas fa-newspaper fa-lg"></i> Articles</a></li>
            <li class="list-inline-item socialIcon"><a href="#"><i class="far fa-envelope fa-lg"></i> Contact</a></li>
            {% if Session.get('user') %}
                {% if Session.get('user').role_id == 2 %}
                    <li class="list-inline-item socialIcon"><a href="{{ LinkBuilder.getLink('HomeAdmin') }}"><i class="fas fa-unlock fa-lg"></i></i> Administration</a></li>
                {% else %}
                    <li class="list-inline-item socialIcon"><a href=""><i class="fas fa-lock fa-lg"></i> Administration</a></li>
                {% endif %}
            {% else %}
                <li class="list-inline-item socialIcon"><a href=""><i class="fas fa-lock fa-lg"></i> Administration</a></li>
            {% endif %}
        </ul>
    </div>
</div>