<div class="containerfluid containerFooter">
    <hr>
    <div class="col-md-12 footer">
        <ul class="list-inline">
            <li class="list-inline-item socialIcon"><a href="#"><i class="fas fa-home fa-lg"></i> Accueil</a></li>
            <li class="list-inline-item socialIcon"><a href="#"><i class="fas fa-newspaper fa-lg"></i> Articles</a></li>
            <li class="list-inline-item socialIcon"><a href="#"><i class="far fa-envelope fa-lg"></i> Contact</a></li>
            <li class="list-inline-item socialIcon"><a href="#"><i class="fas fa-lock fa-lg"></i> Administration</a></li>
        </ul>
    </div>
</div>